[Unit]
Description=Bac II maintenance - notify
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/home/deploy/bac2ai/bin/bac2-cron notify
